<!DOCTYPE html>
<html ng-app="myAPP">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="formvalidation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="ui-bootstrap-tpls-1.3.1.js"></script>
    <script src="formTabs.js"></script>
</head>

<body>
    <div ng-controller="TabsDemoCtrl" class="wholecontiner">
        <uib-tabset active="active">
            <uib-tab index="0" heading="STEP1">
                <div class="form-group">
                    <label>Frist Name</label>
                    <input type="text" class="form-control" required ng-model="model.Fname" />
                    <label>Last Name</label>
                    <input type="text" class="form-control" required ng-model="model.Lname" />
                    <label>Email</label>
                    <input type="text" class="form-control" required ng-model="model.email" />
                    <label>Phone</label>
                    <input type="text" class="form-control" required ng-model="model.Pnumber" />
                </div>
            </uib-tab>
            <uib-tab index="1" heading="STEP2" active="STEP2.active">
                <div class="form-group">
                    <label>Location</label>
                    <br>
                    <select ng-model="location">
                        <option></option>
                        <option value="Boston">Boston</option>
                        <option value="New York">New York</option>
                        <option value="Chicago">Chicago</option>
                        <option value="San Francisco">San Francisco</option>
                    </select>
                    <br>
                </div>
                <label>Date Depart</label>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                    <br>
                    <br>
                    <label style="margin-left:-48%">Date Return</label>
                    <br>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="STEP3" active="STEP3.active">
                {{model.Fname}} {{model.Lname}} {{model.Pnumber}} will depart for {{location}} on {{dt1}} and return on {{dt2}}.
            </uib-tab>
        </uib-tabset>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
